@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary: rgb(241, 93, 69);
  --secondary: rgb(183, 214, 236);
  --detail: rgba(36, 113, 182, 0.5);

  --gradient-background: linear-gradient(177deg, rgb(162, 192, 247) 0%, rgb(200, 217, 250) 50%, rgb(221, 232, 252) 100%);
  --secondary-opacity: rgba(183, 214, 236, 0.4);

  --text-primary: rgb(0, 82, 80);
  --text-title: rgba(0, 82, 80, 0.5);
  
  
  --white: rgb(255, 255, 255);
  --black: rgb(36, 36, 36);
  --transparent: transparent;
  
  --font: 'Quicksand', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;
  
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  
  --radius: 5px;
  
  --shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

[data-theme='dark'] {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(19, 44, 91);
  --detail: rgba(36, 113, 182, 0.5);
  
  --gradient-background: linear-gradient(177deg, rgb(21, 50, 99) 0%, rgb(33, 75, 148)50%, rgb(32, 74, 149) 100%);
  --secondary-opacity: rgba(19, 44, 91, 0.4);
  
  --text-primary: rgb(255, 255, 255);
  --text-title: rgb(3, 139, 200);
}