@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary: rgb(241, 93, 69);
  --secondary: rgb(120, 203, 191);
  --detail: rgb(72, 72, 74);

  --background: rgb(242, 242, 242);

  --card-background: rgb(20, 78, 139);
  --card-background-opacity: rgba(20, 78, 139, 0.4);

  /* --text-primary: rgb(36, 36, 36); */
  --text-primary: rgb(255, 255, 255);
  --text-title: rgb(110, 173, 232);
  --text-disabled: rgb(184, 182, 182);

  --button: rgb(48, 48, 53);
  --input: rgb(42, 100, 163);

  --white: rgb(255, 255, 255);
  --transparent: transparent;

  --font: 'Quicksand', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;
  
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --radius: 5px;

  --shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

[data-theme='dark'] {
  --background: #242424;

  --text-primary: coral;
}