@import url('../../theme/theme.css');

.aside-main-container {
  display: flex;
  height: 100%;
}
  
.aside-container {
  min-width: 260px; 
  min-height: 900px;
  background: var(--card-background);
}

main {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  position: relative;
}