@import url('../../theme/theme.css');

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: var(--radius);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 350px;
    margin: 2px 4px 2px 4px;
    padding: 4px;
    outline: none;
    border: none;
    font-family: var(--font);
}

input::placeholder, input:focus {
    font-size: 16px;
}

.search-icon {
    margin: 0;
    padding: 0;
}

.submit-location {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 6px 0 0;
    background-color: transparent;
}