@import url('./theme/theme.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: var(--light);
  color: var(--text-primary);

  background: linear-gradient(177deg, rgba(47, 107, 170,1) 0%, rgba(106, 165, 225,1) 100%);
  transition: all .5s ease-in-out;
  overflow-x: hidden;
}
#root {
  color: rgb();
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font);
  color: var(--primary);
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.wrapper {
  height: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background: var(--detail);
}