@import url('./theme/theme.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: var(--light);
  
  background: var(--gradient-background);
  
  transition: all 2s ease-in-out;
  overflow-x: hidden;
}

p, div, h1, h2, h3, input, input:focus, input::placeholder {
  transition: all 0.5s ease-in-out;
}

#root {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font);
  color: var(--primary);
}

button {
  background-color: var(--transparent);
  border: 0;
  cursor: pointer;
}

.wrapper {
  height: 100%;
}

